*
{
    box-sizing: border-box;
}
body{
    background-image: url(../images/backgound.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.slider{
    width: 100%;
    height: 300px;;
    overflow: hidden; 
    animation: slide 10s infinite;  
}

.slider ul{
    display: flex;
    
    
    
}

.slider li{
    list-style: circle;
    width: 100%;
}

.slider img{
    width: 100%;
    height: 100%;
} 

hr{
    margin-bottom: 60px;
}

h2{
    color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
}

video{
    margin-left: 15px;
    margin-bottom: 15px;

}

p{
    color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
}
.grid-layout{
    background-color: blue;
}